<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="og:url" content="http://er.mohw.g0v.tw/">
    <meta name="og:title" content="零時政府衛生福利部 - 急診看板">
    <meta name="og:description" content="全國重度級急救責任醫院急診即時訊息">
    <meta name="og:image" content="http://er.mohw.g0v.tw/img/er.screenshot.png">
    <meta name="google" value="notranslate">

    <title>零時政府衛生福利部 - 全國重度級急救責任醫院急診即時訊息</title>
    <link rel="stylesheet" href="css/grafana.dark.min.css" title="Dark">
    <link rel="icon" type="image/png" href="img/fav32.png">

    <script src="app/app.js"></script>

    <script>require(['app'], function (app) { app.boot(); })</script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-41326468-1', 'g0v.tw');
	    ga('send', 'pageview');
    </script>
  </head>

  <body ng-cloak ng-controller="GrafanaCtrl">

    <link rel="stylesheet" href="css/grafana.light.min.css" ng-if="grafana.style === 'light'">

		<div class="page-alert-list">
			<div ng-repeat='alert in dashAlerts.list' class="alert-{{alert.severity}} alert">
				<button type="button" class="alert-close" ng-click="dashAlerts.clear(alert)">
					<i class="icon-remove-sign"></i>
				</button>
				<div class="alert-title">{{alert.title}}</div>
				<div ng-bind-html='alert.text'></div>
			</div>
		</div>

		<div ng-view></div>

	</body>
</html>
